@model List<AnnuityCreditCalculator.Models.OutputCreditData>
@functions {
    public decimal Overpayment()
    {
        decimal sum = 0;
        Model.ForEach(step => sum += step.Percent);
        return sum;
    }
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Дата платежа
                </th>
                <th>
                    Сумма платежа
                </th>
                <th>
                    Основной долг
                </th>
                <th>
                    Проценты
                </th>
                <th>
                    Остаток долга
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td width="5%">@(i + 1)</td>
                    <td width="15%">@Model[i].PaymentDate</td>
                    <td width="20%">@Model[i].FixPayment</td>
                    <td width="20%">@Model[i].MainCredit</td>
                    <td width="20%">@Model[i].Percent</td>
                    <td width="20%">@Model[i].RestCredit</td>
                </tr>
            }
        </tbody>
    </table>
    <strong class="col-8">Переплата по кредиту - @Overpayment()</strong>
    <a asp-controller="Calculator" asp-action="Index" class="btn btn-primary m-3 col-4">На главную</a>
}
else
{
    <p>Нет платежей</p>
}